:root {
  --dark-primary-color:  #0097A7;
  --primary-color:       #009688;
  --light-primary-color: #B2DFDB;
  --accent-color:        #FF4081;
}

.intro-header{
  height:630px;
  padding-top:100px;
  padding-bottom:50px;
  color:#f8f8f8;
  background-size:cover;
  text-align:center;
  background-color:#B2DFDB;
  overflow: hidden;
}

.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.impimg{
  padding-bottom:60px;
}

.navbar{
  margin-bottom: 0px;
}

#nav{
  z-index:9999;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

section.download {
  padding: 150px 0;
  background-color: #FF4081;
}

section.download h2 {
  margin-top: 0;
  font-size: 50px;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

footer {
  background-color: #212121;
  padding: 25px 0;
  color: #BDBDBD;
  text-align: center;
}


header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #B2DFDB;
  min-height: 100%;
}

/*.device-container{
  max-width: none;
  max-height: calc(0vh);
  min-width: 600px;
  margin-bottom: 0;
}*/

#mainNav.affix{
  background-color: var(--dark-primary-color);
}
.navbar-default.affix .navbar-header .navbar-brand {
  color: white;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: white;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: white;
}

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: var(--accent-color);
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: var(--accent-color) !important;
}

#contact.bg-primary {
  background: var(--primary-color);
}

#download.bg-primary {
  background: var(--light-primary-color);
}

/*User*/
.users {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-left: 20px;
  margin-right: 20px;
}


.badge-link:hover, .badge-link:focus, .badge-link:visited, .badge-link:link, .badge-link:active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
.one {
  background-image: url('../img/alex.jpg');
}

.two {
  background-image: url('../img/ade.jpg');
}

.three {
  background-image: url('../img/stefan.jpg');
}

.four {
  background-image: url('../img/fox.jpg');
}
